#python
__pycache__/
*.py[cod]
*.log
debug-*.log

#环境
.venv/
.conda/
*.egg-info/

#数据和模型权重
data_cache/
*.parquet
*.jpg
*.png
*.pt
*.pth
*.ckpt
*.safetensors

#缓存
.cache/
modelscope/
hf_datasets/
images/

.DS_Store
Thumbs.db
.vscode/
.idea/